@font-face {
  font-family: 'Noto Serif';
  src: url("../fonts/NotoSerifRegular.ttf") format("truetype");
}

@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTSansRegular.ttf") format("truetype");
  font-weight: 400;
}

.booking-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.booking-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 370px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 20px;
}

.booking-form__item:last-child {
  margin-right: 0;
}

.booking-form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 42px;
  text-transform: uppercase;
  width: 370px;
  color: #70563d;
  font-family: 'Noto Serif', sans-serif;
  font-weight: 400;
  margin-top: 110px;
  margin-bottom: 80px;
  text-align: center;
}

.booking-form__item_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 5px solid #f2ebd2;
  padding: 20px;
  padding-top: 0;
  border-top: none;
  height: 350px;
  background: #ffffff;
}

.booking-form__item_description {
  font-size: 16px;
  line-height: 24px;
  color: #1e1e1e;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.booking-form__item_title {
  font-size: 28px;
  color: #70563d;
  font-family: 'Noto Serif', sans-serif;
  font-weight: 400;
  text-align: center;
  min-height: 70px;
  margin-bottom: 30px;
}

.booking-form__item_price {
  font-size: 18px;
  color: #4b4b4b;
  font-family: 'Noto Serif', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.booking-form__item_price-amount:hover {
  color: #9e8554;
  cursor: pointer;
}

.booking-form__item_submit {
  width: 230px;
  height: 50px;
  margin: 0 auto;
  text-decoration: none;
  background-color: #775a24;
  color: white;
  text-align: center;
  line-height: 50px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

.booking-form__item:hover .booking-form__item_content {
  border: none;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/oriental.png");
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.booking-form__item:nth-child(2):hover .best-price {
  content: '';
  width: 65px;
  height: 65px;
  position: absolute;
  top: 15px;
  left: 15px;
  background: url("../img/best-price.svg") no-repeat;
}

.active-item {
  position: relative;
  background-color: white;
  -webkit-filter: grayscale(100%) opacity(0.8);
          filter: grayscale(100%) opacity(0.8);
}

.item-active .booking-form__item_submit {
  background-color: gray;
}

.item-active::after {
  content: '';
  width: 370px;
  height: 610px;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
}

/*! Gray v1.6.0 (https://github.com/karlhorky/gray) | MIT */
.grayscale {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
  /*
    Chrome 19+,
    Safari 6+,
    Safari 6+ iOS,
    Opera 15+
  */
  -webkit-filter: grayscale(1);
  /* Firefox 35+ */
  filter: grayscale(1);
  /* IE 6-9 */
  -webkit-filter: gray;
          filter: gray;
}

.grayscale.grayscale-fade {
  -webkit-transition: -webkit-filter .5s;
  transition: -webkit-filter .5s;
  transition: filter .5s;
  transition: filter .5s, -webkit-filter .5s;
}

/* Webkit hack until filter is unprefixed */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .grayscale.grayscale-fade {
    -webkit-transition: -webkit-filter .5s;
    transition: -webkit-filter .5s;
  }
}

.grayscale.grayscale-off,
.grayscale.grayscale-fade:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* Background element */
.grayscale.grayscale-replaced {
  -webkit-filter: none;
  filter: none;
}

.grayscale.grayscale-replaced > svg {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  opacity: 1;
}

.grayscale.grayscale-replaced.grayscale-off > svg,
.grayscale.grayscale-replaced.grayscale-fade:hover > svg {
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */